@import url('https://fonts.googleapis.com/css?family=Quicksand:500');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

$red: #cc0000;
$red-light: #f08080;

$blue: #87ceeb;
$blue-dark: #23435a;
$blue-light: #c9ddea;

$gray: #888888;
$gray-light: #cccccc;

$shadow-dark: rgba(0, 0, 0, 0.35);
$shadow-light: rgba(0, 0, 0, 0.08);

@import "scss/button";
@import "scss/game";
@import "scss/planning-card";
@import "scss/planning-card-holder";
//@import "scss/waiting";