.button {
  border: 2px solid white;
  background: transparent;
  color: white;
  font: inherit;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  cursor: pointer;
  transition: top 50ms;
  position: relative;
  top: 0;
  outline: none;

  &:hover {
    color: $card-holder-color;
    background: white;  
  }

  &:active {
    top: 2px;
  }

  &:disabled {
    color: $gray-light;
    border-color: $gray;
    background: $gray;
    cursor: default;
    &:hover {
      color: $gray-light;
    }
  }

  &--alt {
    border: 2px solid $table-color;
    background: $table-color;
    color: white;

    &:hover {
      color: $table-color;
    }
  }

}
