.game-window {
  height: 400px;
  background-color: lighten( #1D384B, 65);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-table {
  background: skyblue;
  padding: 20px;
  margin: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 4px rgba(#ccc, 0.75);
}

.place {
  margin: 10px;
  width: 45px;
  height: 62.5px;
  background-color: rgba(0, 0, 0, 0.10);
  border-radius: 5px;
  padding: 0;
}

.place .card {
  margin: 0;
  margin-top: -4px;
}