.card-container {
  background: $blue-dark;
  position: relative;
  padding-top: 25px;
  display: flex;
  justify-content: center;
}

.card-overlay {
  max-height: 140px;
  height: 10vw;
  min-height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: $blue-dark;
  box-shadow: $shadow-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}