.component-user-list {
    padding: 0;

    .title {
        background-color: #000;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        label {
            color: #fff;
            padding: 4px 10px 0;
        }
    }
    
    .list-group {
        a:first-child {
            border-radius: 0;
        }
    }
}