.card-container {
  background: $card-holder-color;
  padding-top: 25px;
  display: block;
  text-align: center;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  @media (max-width: 768px) {
    height: 180px;
  }

}

.card-overlay {
  height: 140px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: inherit;
  box-shadow: 0px -2px 1px $shadow-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;

  @media (max-width: 768px) {
    height: 70px;
  }
}